@use "./index" as *;
@import url("https://fonts.googleapis.com/css2?family=Tajawal:wght@500;700&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Tajawal", sans-serif;
  overflow-x: hidden;
}

.container {
  margin: 0 auto;
  padding-inline: 1rem;
}

button {
  border: none;
  outline: none;
  cursor: pointer;
  font: {
    family: inherit;
    size: inherit;
  }
}

.section-heading {
  margin-block: 3rem;
  text-align: center;
  h2 {
    font-size: 3rem;
    color: $main-color;
  }
}

.fade {
  opacity: 0;
  transition: opacity 1.5s ease-out;

  &.animate {
    animation: fade 1.5s ease-in forwards;
  }
}

.fade-w-trans {
  opacity: 0;
  translate: -3rem;
  transition: 1.5s ease-out;

  &.moving-animate {
    animation: moving-animation 1.5s ease-in forwards;
  }
}

.reverse.fade-w-trans {
  translate: 3rem;

  &.moving-animate {
    animation: moving-animation 1.5s ease-in forwards;
  }
}

@media (min-width: 48rem) {
  .container {
    width: 46.825rem;
  }
}

@media (min-width: 62rem) {
  .container {
    width: 60.625rem;
  }
}

@media (min-width: 75rem) {
  .container {
    width: 73.125rem;
  }
}
