// Spaces
$ten-p: 0.625rem;
$tewenty-p: 1.25rem;
$tewenty-five-p: 1.5625rem;
$thirty-p: 1.875rem;
$thirty-five-p: 2.1875rem;
$forty-p: 2.5rem;
$forty-five-p: 2.8125rem;
$fifty-p: 3.125rem;
$sec-pad: 4rem;

// Colors
$main-color: hsl(214, 51%, 21%);
$secondary-color: hsl(187, 61%, 56%);
$hover-color: hsl(351, 82%, 55%);
$btn-bg-color: hsl(187, 61%, 56%);
$btn-bg-hover-color: hsl(187, 61%, 50%);
$subtitle-heading-color: hsl(200, 3%, 19%);
$paragraph-color: hsl(0, 0%, 60%);
